@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/DataTables/css/dataTables.bootstrap.css">
<script type="text/javascript" src="~/Content/DataTables/datatables.min.js"></script>
<script type="text/javascript" src="~/Content/DataTables/js/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="~/Scripts/ViewScripts/Transactions.js"></script>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table table-bordered table-hover" id="transactionTable">
    <thead>
        <tr>
            <th></th>
            <th>
                Transaction Id
            </th>
            <th>
                Transaction Time
            </th>
            <th>
                Sender Name
            </th>
            <th>
                Sender Account
            </th>
            <th>
                Sender Bank
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>

</table>