@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="~/Content/DataTables/css/dataTables.bootstrap.css">
<script type="text/javascript" src="~/Content/DataTables/datatables.min.js"></script>
<script type="text/javascript" src="~/Content/DataTables/js/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="~/Scripts/ViewScripts/Accounts.js"></script>

<h2>Index</h2>

<!-- Trigger the modal with a button -->
<button type="button" class="btn-me bg-info btn" data-toggle="modal" data-target="#addFormModal"><b>Add Account</b></button>
<br />
<br />

<table class="table table-bordered table-hover" id="accountTable">
    <thead>
        <tr>
            <th></th>
            <th>
                Name
            </th>
            <th>
                Account Number
            </th>
            <th>
                Bank Name
            </th>
            <th style="width: 60px"></th>
        </tr>
    </thead>
    <tbody>
    </tbody>

</table>

<!-- Modal -->
<div id="addFormModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" id="closeForm">&times;</button>
                <h4 class="modal-title">Add Account</h4>
            </div>
            <div class="modal-body">
                <form id="addAccountForm">
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <hr />
                        <div class="form-group">
                            <b class="control-label col-md-4">Account Number</b>
                            <div class="col-md-8">
                                <input class="form-control" id="accNum" placeholder="Input Account Number" />
                                <div id="validAccNum" class="text-danger"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <b class="control-label col-md-4">Account Name</b>
                            <div class="col-md-8">
                                <input class="form-control" id="accName" placeholder="Input Account Name" />
                                <div id="validAccName" class="text-danger"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <b class="control-label col-md-4">Bank Name</b>
                            <div class="col-md-8">
                                <select name="banks" id="banks" class="form-control" required>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <b class="control-label col-md-4">Account Balance</b>
                            <div class="col-md-8">
                                <input class="form-control" id="accBal" placeholder="Input Initial Balance" />
                                <div id="validAccBal" class="text-danger"></div>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal" id="closeForm">Close</button>

                        <input type="button" value="Create" class="btn btn-success" id="saveAccount" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>