@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="~/Content/DataTables/css/dataTables.bootstrap.css">
<script type="text/javascript" src="~/Content/DataTables/datatables.min.js"></script>
<script type="text/javascript" src="~/Content/DataTables/js/dataTables.bootstrap.js"></script>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-hover" id="accountTable">
    <thead>
        <tr>
            <th></th>
            <th>
                Name
            </th>
            <th>
                Account Number
            </th>
            <th>
                Bank Name
            </th>
            <th style="width: 60px"></th>
        </tr>
    </thead>
    <tbody>
    </tbody>

</table>

<script type="text/javascript">

    function format(d) {
        // `d` is the original data object for the row
        var bal = d.AccountBalance;

        return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
            '<tr>' +
            '<td>Account Balance: <b>IDR '+ bal.toLocaleString() + '<b></td>' +
            '</tr>' +
            '</table>';
    }

    $(document).ready(function () {
        var accountDT = $('#accountTable ').DataTable({
            ajax: {
                url: "https://" + window.location.host + "/api/Accounts",
                dataSrc: ""
            },
            columns: [
                {
                    "className": 'details-control',
                    "orderable": false,
                    "data": null,
                    "defaultContent": ''
                },
                {
                    data: "AccountName"
                },
                {
                    data: "AccountNumber"
                },
                {
                    data: "BankName"
                },
                {
                    data: "AccountId",
                    render: function (data) {
                        return "<button data-customer-id=" + data + " class='btn-danger js-delete'>Delete</button>";
                    },
                    "orderable": false
                }
            ],
            "order": [[1, 'asc']]
        });

        $("#accountTable").on("click", ".js-delete", function () {
            var button = $(this);
            bootbox.confirm("This account will be permanently deleted. Procees?", function (result) {
                if (result) {
                    $.ajax({
                        url: "/customers/" + button.attr("data-customer-id"),
                        method: "DELETE",
                        success: function () {
                            accountDT.row(button.parents("tr")).remove().draw();
                        }
                    });
                }
            });

        });

        // Add event listener for opening and closing details
        $('#accountTable tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = accountDT.row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child(format(row.data())).show();
                tr.addClass('shown');
            }
        });
    });
</script>