td.details-control {
    background: url(/Content/images/plus.svg) no-repeat center center;
    background-size: 21px 21px;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url(/Content/images/minus.svg) no-repeat center center;
    background-size: 21px 21px;
}

.dt-center {
    text-align: center;
}
